body,
html {
  color: white;
  background-color: black;
}

h2 {
  font-weight: 400;
  font-size: 38px;
  text-transform: uppercase;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

h2::after {
  content: "";
  background: var(--bs-secondary-color);
  height: 2px;
  width: 50%;
  margin-top: 10px;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.title-head {
  margin: 10px;
  animation: fadeInLeft 1s ease-in-out forwards;
}

.content {
  min-height: 100vh;
}

.loader-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.sidebar ul>li>.nav-link {
  text-transform: uppercase;
  color: #ccc;
  font-weight: 400;
  font-size: 15px;
  padding: 5px 0;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
}

.sidebar ul>li>.nav-link:hover {
  color: #64ffda;
}

.sidebar .link-active {
  color: #64ffda !important;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler:hover {
  background-color: #64ffda;
}

.content-title {
  padding: 20px;
}

.content-head {
  margin: 30px 0 0 20px;
}

/* Home */
.home-container {
  align-items: center;
  margin: 10px auto;
}

.introduction {
  animation: fadeInLeft 1s ease-in-out forwards;
}

.typewriter {
  color: #64ffda;
}

.home-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.home-image {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  filter: drop-shadow(0 0 5px rgba(100, 255, 218, 0.5));
  animation: fadeIn 1s ease-in-out;
}

.buttons-container {
  animation: slideIn 1s ease-in-out;
}

.soc-med {
  animation: fadeInLeft 1s ease-in-out forwards;
}


/* about */
.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: auto;
  height: 290px;
  border-radius: 0;
  transition: transform 0.3s ease-in-out;
  filter: drop-shadow(0 0 5px rgba(100, 255, 218, 0.5));
  animation: fadeInUp 1s ease-in-out forwards;
}

.profile-details {
  text-align: left;
  animation: fadeInRight 1s ease-in-out forwards;
}

.about-content {
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  animation: fadeIn 1s ease-in-out forwards;
}

.title-section {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.title-section::after {
  position: absolute;
  content: "";
  background: #64ffda;
  height: 2px;
  width: 70px;
  bottom: 0;
  left: 0;
}

.skill-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.skill-column {
  flex: 0 0 calc(50% - 20px);
  margin: 10px 0;
  padding: 10px;
  background-color: var(--bs-secondary-color);
}

.skill-list {
  margin-bottom: 10px;
  text-align: justify;
}

.title-item {
  font-weight: bold;
  font-size: 20px;
  color: #64ffda;
  margin-bottom: 5px;
}

.date-item {
  font-style: italic;
  margin-bottom: 5px;
}

.major-item {
  font-weight: bold;
}

/* portfolio */
.project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-column {
  width: 30%;
  margin-bottom: 30px;
  background-color: var(--bs-secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out forwards;
}

.project-column img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-type {
  font-style: italic;
  color: #888;
  margin-bottom: 10px;
}

.tech-stack {
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.description p {
  line-height: 1.5;
  color: #555;
  text-align: justify;
}

.project-links {
  display: flex;
}

.project-link {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.project-link a {
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-dialog {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.modal-content {
  animation: fadeIn 0.3s ease-in-out;
}

.modal-body {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body img {
  width: auto;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.contact-info {
  animation: fadeInUp 1s ease-in-out forwards;
}


@media (min-width: 992px) {
  .sidebar {
    width: 250px;
    padding: 20px;
    min-height: 100vh;
    position: fixed;
    border-right: 1px solid var(--bs-secondary-color);
  }

  .sidebar .navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 100px;
  }

  .content {
    padding: 40px;
    margin-left: 250px;
  }

  .home-content {
    flex-direction: row;
    justify-content: space-evenly;
  }

}

@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    width: 100% !important;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 9995;
    background-color: var(--bs-secondary-color);
  }

  .navbar {
    width: 100%;
  }

  .content {
    margin-top: 50px;
  }

  .project-column {
    width: 45%;
  }

  .modal-body img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

}

@media (max-width: 576px) {
  .skill-column {
    flex: 0 0 100%;
  }

  .project-column {
    width: 100%;
  }
  
}

/* Keyframes */
.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-20px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(20px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}